.hero
  padding: 30px 0 40px
  &-wrapper
    display: grid
    grid-template-columns: min-content 1fr
    grid-template-rows: repeat(3, min-content)
    grid-gap: 20px
  &__title
    grid-column: 1
    grid-row: 1
    display: inline-block
    font-weight: 900
    margin-bottom: 10px
    font-size: 28px
    line-height: 35px
  &-check
    grid-column: 1
    grid-row: 2
  &__img
    grid-column: 1
    grid-row: 3
    object-fit: cover
    border-radius: 8px
  &-advantages
    grid-column: 2
    grid-row: 1 / 4
    &__card
      display: flex
      align-items: start
      padding: 15px 16px 18px 0
      margin-bottom: 20px
      min-height: 152px
      &:last-child
        margin-bottom: 0
    &__img
      &-wrapper
        min-width: 90px
        text-align: center
    &-info
      &__title
        margin-bottom: 5px
        font-size: 18px
        line-height: 23px
        &--mobile
          display: none
      &__text
        font-size: 14px
        line-height: 18px
    &__icon
      display: none
.check
  width: 850px
  &-tabs
    display: flex
    margin: 0
    padding: 0
    &__item
      flex: 1 1
      padding: 10px 0
      background-color: $secondary
      list-style-type: none
      text-align: center
      font-size: 20px
      line-height: 30px
      color: rgba(0, 0, 0, 0.42)
      cursor: pointer
      &--active
        background-color: $light
        font-size: 20px
        line-height: 30px
        color: #4D4D4D
    &__img
      display: none
.form
  padding: 30px 40px 10px 25px
  &-wrapper
    display: flex
    margin-bottom: 20px
  &__input
    padding: 20px
    height: 64px
    border: 1.5px solid rgba(65, 65, 65, 0.3)
    border-radius: 8px
    font-size: 20px
    line-height: 25px
    color: #939393
    &::placeholder
      color: rgba(0, 0, 0, 0.5)
  &__name
    min-width: 460px
    margin-right: 20px
  &__date
    width: 100%
    &-wrapper
      width: 100%
      position: relative
    &-icon
      position: absolute
      top: 50%
      right: 20px
      transform: translateY(-50%)
      cursor: pointer
  &__region
    min-width: 460px
    margin-right: 20px
    &-wrapper
      position: relative
    &-icon
      position: absolute
      right: 41px
      top: 50%
      transform: translateY(-50%)
      cursor: pointer
      &--active
        transform: rotate(180deg) translateY(50%)
  &__button
    width: 100%
    border: 1px solid $primary
    border-radius: 10px
    background-color: $light
    color: $primary
    font-weight: 600
    font-size: 19px
    line-height: 24px
    text-align: center
.ui
  &-autocomplete
    max-width: 460px
    max-height: 380px
    overflow-x: hidden
    overflow-y: auto
    background: $light
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2)
    font-family: Source Sans Pro
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 25px
    color: #808080
    padding: 0
    list-style-type: none
    &::-webkit-scrollbar
      width: 7px
      background-color: #E0E0E0
    &::-webkit-scrollbar-thumb
      border-radius: 4px
      background-color: $primary
  &-menu-item-wrapper
    padding: 10px 18px 10px !important
    cursor: pointer
  &-state
    &-active
      margin: 0 !important
      color: $primary !important
      border: none !important
